$way: '//copy.css-world.ru/f/';
//$way: '../fonts/';

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin'), local('Roboto-Thin'), url($way + 'Robotothin.woff2') format('woff2'), url($way + 'Robotothin.woff') format('woff'), url($way + 'Robotothin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url($way + 'Robotothinitalic.woff2') format('woff2'), url($way + 'Robotothinitalic.woff') format('woff'), url($way + 'Robotothinitalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
  }
  @font-face {
    font-family: 'Roboto';
    src: local('Roboto Light'), local('Roboto-Light'), url($way + 'Robotolight.woff2') format('woff2'), url($way + 'Robotolight.woff') format('woff'), url($way + 'Robotolight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto';
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url($way + 'Robotolightitalic.woff2') format('woff2'), url($way + 'Robotolightitalic.woff') format('woff'), url($way + 'Robotolightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
  }
  @font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'), url($way + 'Roboto.woff2') format('woff2'), url($way + 'Roboto.woff') format('woff'), url($way + 'Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto';
    src: local('Roboto Italic'), local('Roboto-Italic'), url($way + 'Robotoitalic.woff2') format('woff2'), url($way + 'Robotoitalic.woff') format('woff'), url($way + 'Robotoitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
  }
  @font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium'), local('Roboto-Medium'), url($way + 'Robotomedium.woff2') format('woff2'), url($way + 'Robotomedium.woff') format('woff'), url($way + 'Robotomedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url($way + 'Robotomediumitalic.woff2') format('woff2'), url($way + 'Robotomediumitalic.woff') format('woff'), url($way + 'Robotomediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
  }
  @font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'), url($way + 'Robotobold.woff2') format('woff2'), url($way + 'Robotobold.woff') format('woff'), url($way + 'Robotobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url($way + 'Robotobolditalic.woff2') format('woff2'), url($way + 'Robotobolditalic.woff') format('woff'), url($way + 'Robotobolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
  }
  @font-face {
    font-family: 'Roboto';
    src: local('Roboto Black'), local('Roboto-Black'), url($way + 'Robotoblack.woff2') format('woff2'), url($way + 'Robotoblack.woff') format('woff'), url($way + 'Robotoblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto';
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url($way + 'Robotoblackitalic.woff2') format('woff2'), url($way + 'Robotoblackitalic.woff') format('woff'), url($way + 'Robotoblackitalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
  }
